.anchorpane{
-fx-background-color: #181818;
}
.scrollpane{
-fx-border-color: #0040ff;
-fx-background-color: #0040ff;
}
.borderpane{
-fx-border-color: #0040ff;
}
.button{
-fx-background-color: #484848;
-fx-background-radius: 10;
-fx-text-fill: #e5e5e5;
}
.vboxtasks{
-fx-background-color: #181818;
}
.titletext{
-fx-text-fill: #e5e5e5;
}
.circletimer{
-fx-stroke:#0040ff;
}
.timerlabels{
-fx-text-fill: #e5e5e5;
}
.timerbuttons{
-fx-background-color: #e8e8e8;
-fx-border-color: #000000;
-fx-border-radius: 2000;
-fx-background-radius: 2000
}
.taskbpane{
-fx-background-radius: 50;
-fx-border-radius: 50;
-fx-background-color: #484848;
}
.lbltaskname{
-fx-text-fill: #e5e5e5;
}
.lblduedate{
-fx-text-fill: #e5e5e5;
-fx-border-color: grey;
-fx-background-radius: 200;
-fx-border-radius: 200;
}
.taskindicator{
-fx-background-radius: 100;
-fx-padding: 0;
-fx-background-color: #e8e8e8;
-fx-border-color: grey;
-fx-border-radius: 100;
}
.proccircle{
 -fx-fill:#0040ff;
 }
.proctext{
 -fx-text-fill: #e5e5e5;
 }
.timerbpane{
 -fx-background-color: #181818;

 }




